.border-right {
    border-right: 3px solid black;
}

.planerRow {
    padding-top: 35px;
    margin-left: 0px;
    margin-right: 0px;
}

.background-color {
    background-color: #fafafa;
}

.detail {
    font-size: 39px;
    margin-bottom: -40px;
    padding-left: 50%;
    padding-top: 15px;
}

.clickable:hover {
    border: 1px solid;
    border-color: #2ea443;
}